.post-content h2 {
    float: left;
}

.post-content .cardPlace {
    clear: both;
}

.left-half {
    width: 50%;
    float: left;
}

.right-half {
    width: 50%;
    float: left;
}

#cardCount {
    float: right;
}

.cardPlace img {
    width: 75px;
    height: 75px;
}

#deckPlace img{
    width: 20px;
    height: 20px;
}